{% extends "signup.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% block all_page_title %}
    {% vocabulary "member_type" as v_member_type %}
    <div class="page-title col-md-12">
        <h3>
            {% blocktrans %}Teilnehmen{% endblocktrans %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    <div class="col-md-12">
        {% config "enable_shares" as c_enable_shares %}
        {% config "bylaws" as c_bylaws %}
        {% config "business_regulations" as c_business_regulations %}
        {% config "gdpr_info" as c_gdpr_info %}
        {% config "share_price" as c_share_price %}
        {% enriched_organisation "D" as v_d_enriched_organisation %}
        {% vocabulary "share" as v_share %}
        {% vocabulary "share_pl" as v_share_pl %}
        {% vocabulary "subscription" as v_subscription %}
        {% vocabulary "member_type" as v_member_type %}
        {% vocabulary "member_type_pl" as v_member_type_pl %}
        <div class="row mb-3">
            <div class="col-md-12">
                {% enriched_organisation "D" as e_organisation %}
                {% blocktrans %}Interessiert an {{ e_organisation }}?{% endblocktrans %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <p>{% trans "Hier kannst du dich anmelden." %}</p>
                <p>
                    {% blocktrans trimmed %}
                    Warum über diese Webseite? Juntagrico ist ein Tool, das für die Mitglieder-Verwaltung von
                    Solawis entwickelt wurde (ursprünglich für ortoloco, mittlerweile verwenden es zahlreiche
                    Solawis in der Schweiz). Das Orga-Team der b-Allmend 2024 möchte gerne ausprobieren,
                    ob es die Organisation der Allmend erleichtert. Zur Anmeldung braucht´s nur einen Namen
                    (kann auch ein Fantasiename sein) und eine Emailadresse, damit wir dir die weiteren Infos
                    schicken können. (Sonst werden keine Daten gespeichert und die Anmeldungen löschen wir
                    nach der Allmend wieder.)
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                    Nach der Anmeldung bekommst du eine Bestätigungsmail; damit ist die Anmeldung erfolgreich erledigt.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                    Kurz vor der Allmend wirst du dich auch für Arbeitseinsätze (Abwaschen, Ankommende empfangen etc.)
                    eintragen können – wenn alle Teilnehmenden ca. einen Einsatz pro Tag machen, läufts rund.
                    Sobald die Mithilfe-Einsätze aufgeschaltet sind, verschicken wir dazu ein Mail.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        {% if c_bylaws.strip or c_business_regulations.strip %}
        <div class="row mb-4">
            <div class="col-md-12">
                {% blocktrans trimmed %}
                Bevor du dich als {{ v_member_type }} anmeldest, lies bitte folgendes durch
                {% endblocktrans %} :
                <ul>
                    {% if c_bylaws.strip %}
                        <li>
                            <a target="_blank" href="{{ c_bylaws|safe }}">
                                {% trans "Statuten" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if c_business_regulations.strip %}
                        <li>
                            <a target="_blank" href="{{ c_business_regulations|safe }}">
                                {% trans "Betriebsreglement" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <form action="" method="post">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
