{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% block page_title %}
    {% vocabulary "subscription" as v_subscription %}
    <h3>
        {% blocktrans %}Teilnahme ändern{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% config "enable_shares" as c_enable_shares %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "subscription_pl" as v_subscription_pl %}
    {% vocabulary "share_pl" as v_share_pl %}

    {% if parts_order_allowed %}
        <div class="row mt-5 mb-3">
            <h4>{% trans "Teilnahme ändern" %}</h4>
        </div>

        {% crispy form %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'juntagrico/external/bootstrap-input-spinner.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'juntagrico/external/require.min.js' %}" data-main="{% static 'juntagrico/js/initChangeExtra.js' %}">
    </script>
{% endblock %}