{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% load crispy_forms_field %}
<div class="form-group row">
    <div class="offset-md-2 col-md-1">
        <span class="switch switch-sm">
            {{ field }}
            <label for="id_amount[{{ type.id }}]">
            </label>
        </span>
    </div>
    <label for="type{{ type.id }}" class="col-md-9">
        {% if type.long_name.strip %}
            <strong>{{ type.long_name }}</strong>
            <br/>
        {% endif %}
        {% if type.description.strip %}
            {{ type.description|richtext|safe }}
            <br/>
        {% endif %}
        </label>
</div>