.juntagrico-logo {
    /* See https://juntagrico.readthedocs.io/en/latest/theming.html#change-the-logo to change the logo */
    background-size: contain;
    display: inline-block;
    width: 580px;
    height: 161px;
}

.language-selector {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    text-align: center;
    height: 2em;
}
